/* SCSS HEX */

@function unit($multiplier: 1) {
  $pixelSize: $multiplier * 4;
  @return ($pixelSize / 16) * 1em;
}

// FONTS
$primary: 'Poppins', sans-serif;
$secondary: 'Oswald', sans-serif;

$ui-1: #212126;
$ui-2: #2d2d33;
$ui-3: #36363c;
$ui-4: #44444b;
$highlight: #d46092;

$text: #9d9da3;
$title: #FFF;
