.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  margin-bottom: 20px;
}

.card  h2 {
  font-size: 18px;
}

.card  p {
  font-size: 14px;
}
